@import '../../styles/UI/variables.global.scss';

.form {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: calc($global-base_size_medium * 2);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
