.buttons {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;

  .buttonsRow {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    margin: 10px;
  }
}
