@import '../../styles/UI/variables.global.scss';

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;

  &.medium {
    $label-font_size: $global-hint_font_size-medium;
    $label-line_height: $global-line-height-compact;

    font-size: $label-font_size;
    line-height: $label-line_height;
  }

  &.small {
    $label-font_size: $global-hint_font_size-small;
    $label-line_height: $global-line-height-compact;

    font-size: $label-font_size;
    line-height: $label-line_height;
  }
}
